.back {
  padding-top: 65px;
  margin: 0px 11%;
  .Categories {
    text-align: start;
    padding: 16px 0px;
    a {
      text-decoration: none;
      color: #999999;
    }
    .LastCategorie
    {
      font-weight: 500;
    }
  }
  .Content {
    background-color: white;
    margin-bottom: 32px;
  }
}
