.Detail
{
  display: flex;
  .itemImage
  {
    display: flex;
    justify-content: center;
    width: 680px;
    min-width: 680px;
    img{
      max-width: 600px;
    }
  }
  .itemInfo
  {
    width: -webkit-fill-available;
    margin-right: 32px;
    text-align: start;
    .itemStatus{
      font-size: 14px;
      margin-top: 32px;
      margin-bottom: 16px;
      line-height: 14px;
    }
    .itemTitle{
      font-size: 24px;
      margin: 0px;
      line-height: 24px;
      font-weight: 500;

    }
    .itemPrice{
      font-size: 46px;
      margin: 32px 0px;
      line-height: 46px;
    }
    button{
      background-color: #3483FA;
      border: none;
      color: white;
      border-radius: 4px;
      padding: 10px;
      width: 100%;
      cursor: pointer;
    }
  }
}
.itemDescription
{
  width: 630px;
  text-align: justify;
  margin-left: 32px;
  margin-top: 32px;
  h3{
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    margin: 0px;
  }
  p{
    font-size: 16px;
    padding: 32px 0px;
    margin: 0px;
  }
}
@media only screen and (max-width: 1100px) {
  .Detail
  {
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
    .itemImage{
      img{
        width: 50%;
      }
    }
  }
  .itemDescription{
    width: 83%;
  }
}
@media only screen and (max-width: 690px) {
  .Detail
  {
    display: flex;
    .itemImage
    {
      min-width: 0px;
    }
    .itemInfo
    {
      margin: 0px;
      .itemPrice{
        font-size: 30px;
        margin: 16px 0px;
      }
    }
  }
  .itemDescription
  {
    margin: 16px;
    h3{
      font-size: 23px;
    }
  }
}
